html,
body {
    padding: 0;
    margin: 0;
}

#navlist {
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navlist li {
	display: inline;
	float: left;
	text-align: center;
	padding: 10px;
	margin: 0;
}

#navlist li a {
	border-right: none;
	padding: 0;
	*margin: 0 0 10px 0;
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}

#navlist li a:hover {
	color: grey;
	background: skyblue;
}